@import url('./common/initializer.css');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: #e5e5e5;
  color: #fff;
  font: 100 50vh/1 'Spoqa Han Sans Neo', sans-serif;
}

output {
  user-select: none;
  cursor: inherit;
  animation: wiggle steps(3) 600ms infinite alternate;
}

.stop-animate {
  animation-name: none;
}

@keyframes wiggle {
  0% {
    opacity: 1;
  }
  33.3333% {
    opacity: 0.4;
  }
  66.6666% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

.upload-button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 89px;
  height: 30px;
  padding: 9px 12px;
  background: #FFFFFF;
  color: #525577;
  font-size: 12px;
  font-weight: 800;
  box-shadow: 0px 4px 4px #DBDDF0;
  border: 1px solid #ffffff;
  border-radius: 30px;
}

.upload-button:disabled{
  color:#ADAEB6;
}